<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/compose_museum_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/compose_museum_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GComposeTrip">
        <activity
            android:name=".TutorialMainActivity"
            android:exported="true"
            android:theme="@style/Theme.GComposeTrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".compose_museum.ComposeMuseumMainActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
        <activity
            android:name=".compose_museum.c1_start.CMStartActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
        <activity
            android:name=".compose_museum.c2_basic_component.CMElementAlertDialogActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
        <activity
            android:name=".compose_museum.c2_basic_component.CMElementButtonActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
        <activity
            android:name=".compose_museum.c2_basic_component.CMElementCardActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
        <activity
            android:name=".compose_museum.c2_basic_component.CMElementFloatingActionButtonActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
        <activity
            android:name=".compose_museum.c2_basic_component.CMElementIconActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
        <activity
            android:name=".compose_museum.c2_basic_component.CMElementIconButtonActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
        <activity
            android:name=".compose_museum.c2_basic_component.CMElementImageActivity"
            android:theme="@style/Theme.GComposeTrip"
            />
    </application>

</manifest>